/BadEmailAddressException.class
/CMException.class
/CoffeeMudException.class
/HTTPRedirectException.class
/HTTPServerException.class
/ScriptParseException.class
/CharStatOutOfRangeException.class
/StatOutOfRangeException.class
